.header {
  background: #4267b2;
  /*background-image: linear-gradient(#4e69a2, #4267b2 50%);*/
  color: #ffffff;
  font-family: helvetica;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-signup {
  background: #4267b2;
  background-image: linear-gradient(#4e69a2, #4267b2 50%);
  font-family: helvetica;
  color: #fff;
  width: 100%;
  border-bottom: 1px solid #29487d;
}

.header-login {
  display: flex;
}


.header-nav-signup {
  margin: 0 auto;
  width: 100%;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.header-login-inputs {
  color: #000;
  padding: 3px;
  border: 1px solid #000;
}

.header-logo {
  display: block;
  float: left;
  font-size: 35px;
  font-weight: bold;
  margin-top: 38px;
}

.login-form-box {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: flex-end;
  margin: 0 5px;
}

.login-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  margin: 20px 0;
}

.login-form label, .login-form input, .login-form button {
  padding: 3px;
}

.login-submit {
  background: #4267b2;
  color: #ffffff;
  border: 1px solid #29487d;
  font-size: 13px;
  cursor: pointer;
}

.guest-user-login {
  background: #4267b2;
  color: #ffffff;
  border: 1px solid #29487d;
  font-size: 13px;
  padding: 4px 6px 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.header-error {
  background-color: #be4b49;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
  color: #fff;
  list-style: none;
  padding: 8px;
  width: 240px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 20px;
}

// HEADER FOR NON-SIGNUP PAGE STARTING HERE

.header-nav {
  background: #4267b2;
  /*background-image: linear-gradient(#4e69a2, #4267b2 50%);*/
  color: #ffffff;
  font-family: helvetica;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 42px;
  border-bottom: 1px solid #29487d;
  align-items: center;
}

.nav-left-side, .nav-right-side {
  display: flex;
  flex-direction: row;
}

.notifications-bar {
  display: flex;
  flex-direction: row;
}
