.main-signup-content {
  background: #edf0f5;
  font-family: helvetica;
}

.content-nav {
  height: 600px;
  width: 1000px;
  margin: 0 auto;
}

.signup-form {
  font-size: 32px;
}

.signup-list {
  float: right;
  width: 410px;
}


.signup-header {
  padding: 20px 0 20px 5px;
  font-weight: bold;
}

.signup-list-field {
  border-radius: 5px;
  padding: 8px 10px;
  margin: 3px;
  border: 1px solid #bcd7d8;
  font-size: 18px;
  width: 377px;
}

.signup-list-name {
  border-radius: 5px;
  border: 1px solid #bcd7d8;
  margin: 3px;
  padding: 8px 10px;
  width: 174px;
  font-size: 18px;

}

.free-header{
  font-size: 20px;
  padding: 10px 0 0 0;
  font-weight: normal;
}

.signup-button {
  background-image: linear-gradient(rgb(121, 188, 100), rgb(87, 136, 67));
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  box-shadow: inset 0 1px 1px #a4e388;
  border-radius: 5px;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  min-width: 194px;
  color: #fff;
  cursor: pointer;
  padding: 7px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-left {
  float: left;
  width: 500px;
}

.signup-left-list > li {
  float: left;
  margin: 20px 0 20px 0;
}

.signup-left-list >li > img {
  vertical-align: middle;
  margin-right: 25px;
  margin-left: 5px;
}

.signup-left-list > li > h1 {
  float: right;
  padding: 10px 0 0 0;
  font-weight: 300;
}

.signup-left-list > li > img.triangle {
  margin-right: 20px;
  margin-left: 0;
}

.signup-left-list > li > h1.signup-left-header {
  font-weight: bold;
  font-size: 26px;
}

.signup-header {
  font-size: 26px;
  padding: 5px;
  font-weight: bold;
  margin-top: 30px;
  /*margin-left: 15px;*/
}

.main-signup-content > p {
  font-size: 12px;
  color: #aaa;
}

.signup-error {
  background-color: #be4b49;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
  color: #fff;
  list-style: none;
  padding: 8px;
  width: 140px;
  font-size: 13px;
  font-weight: bold;
  float: left;
  margin-top: 15px;
  margin-right: 10px;
}
