.single-post-container, .newsfeed-container {
  margin: 0 auto;
  padding: 16px 0;
  // border: 1px solid blue;
  // height: 500px;
  width: 500px;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.34;

  display: flex;
  flex-direction: column;
}

.post-description {
  font-size: 12px;
  margin-top: -2px;
  margin-bottom: 6px;
  padding-right: 22px;
  padding-bottom: 3px;
  font-weight: normal;
  line-height: 1.38;
  color: #90949c;
  border-bottom: 1px solid #e5e5e5;
}

.mutual-friend-count {
  height: 50px;
  // border: 1px solid red;
  bottom: -20px;
  right: 120px;
  position: absolute;
  // font-weight: 500;
  // line-height: 30px;
  max-width: 275px;
  color: #333;
  text-rendering: optimizelegibility;
  font-family: Helvetica;
  // text-shadow: 0 0 3px rgba(0,0,0,.8);
}

.search-result {
  display: flex;
  flex-direction: row;
  background: white;
}

.search-result-body {
  display: flex;
  flex-direction: column;
  height: 44px;
  max-width: 510px;
  line-height: 16px;
  margin: 6px 0;
  font-family: Helvetica, Arial, sans-serif;
  padding-left: 6px;
}

.search-result-name {
  font-weight: 700;
  line-height: 16px;
  color: #333;
  margin-top: 6px;
}

.search-result-friends {
  color: #999;
  font-size: 12px;
  font-weight: normal;
}

.search-result-pic {
  margin: 4px 8px 0 6px;
  padding: 4px;
}

.search-no-results {
  color: #333;
  padding: 6px;
}
