.single-post-container, .newsfeed-container {
  margin: 0 auto;
  padding: 16px 0;
  // border: 1px solid blue;
  // height: 500px;
  width: 500px;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.34;

  display: flex;
  flex-direction: column;
}

.post-description {
  font-size: 12px;
    margin-top: -2px;
    margin-bottom: 6px;
    padding-right: 22px;
    padding-bottom: 3px;
    font-weight: normal;
line-height: 1.38;
color: #90949c;
border-bottom: 1px solid #e5e5e5;
}
