a {
  color: #365899;
  cursor: pointer;
  text-decoration: none;
}

.timeline {
  width: 850px;
  margin: 0 auto;
  padding: 16px 0;
  // border: 1px solid blue;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.34;

  display: flex;
  flex-direction: row;
}

.timeline-side-bar {
  margin-bottom: 35px;
  max-width: 323px;
  width: 323px;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.timeline-side-bar-stick {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.timeline-side-bar-item {
  margin-bottom: 17px;
  max-width: 323px;
  width: 323px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background-color: #FFF;
}

.timeline-side-bar-header {
  padding-bottom: 4px;
  padding-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  > * {
    margin-right: 10px;
  }
}

.timeline-description {
  text-align: center;
  padding: 12px 16px;
}

.timeline-main {
  margin-left: 15px;
  width: 512px;
  // border: 1px solid red;
}

.create-post {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 17px;
}

.create-post-header {
  display: flex;
  flex-direction: row;
  padding: 10px 12px 8px 12px;
  background-color: #f6f7f9;
}

.create-post-main {
  min-height: 73px;
  border-top: 1px solid #dddfe2;
  display: flex;
  flex-direction: row;
}

.create-post-img-wrapper {
  margin: 12px 0 0 12px;
  min-height: 1px;
}

.create-post-body {
  padding: 18px 34px 13px 12px;
  transition: font-size 0.2s ease-in-out, letter-spacing 0.2s ease-in-out;
  min-height: 69px;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 28px;
  background-color: transparent;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  resize: none;
  word-wrap: break-word;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  flex-grow: 1;
}

.create-post-form {
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.create-post-form textarea {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  color: #4b4f56;
  background-color: #ffffff;
  border: 1px solid #d4dbe0;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.create-post-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 8px;
  border-top: 1px solid #dddfe2;
}

.create-post-button {
  font-size: 12px;
  line-height: 22px;
  padding: 0 16px;
  vertical-align: baseline;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  background: #4267b2;
  color: #fff;
  border: 1px solid #4267b2;
  border-radius: 3px;
  font-weight: bold;
  margin: 0;
}

.user-pic-xs {
  width: 40px;
  height: 40px;
}

.post-item-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}


.post-item {
  padding: 12px 12px 0;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.post-item-header {
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.post-item-img-wrapper {
  margin-right: 8px;
  min-height: 1px;
}

.post-item-header-data {
  padding-bottom: 6px;
}

.post-item-user-data {
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
  > * {
    margin-right: 5px;
  }
}

.post-item-time-data {
  color: #90949c;
}

.post-item-user-1, .post-item-user-2 {
  font-weight: bold;
}

.post-item-body {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
  word-wrap: break-word;
}

.post-item-content {
  margin-top: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  // height: 70px;
  // border: 1px solid purple;
}

.post-item-footer {
  margin-top: 12px;
  padding-bottom: 4px;

}

.post-action-container {
  border-top: 1px solid #e5e5e5;
  margin: 0 12px;
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.post-action {
  color: #7f7f7f;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-right: 20px;
  padding: 4px 4px 4px 0;
}
.comment-box {
  background-color: #f6f7f9;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #1d2129;
  overflow: visible;
  width: auto;
  // height: 80px;
  border: solid 1px;
  border-top-width: 0px;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5 #e5e6e9;

  display: flex;
  flex-direction: column;
}

.comment-box-activity {
  // border-top: 1px solid #e1e2e3;
  padding: 9px 12px;
  color: #365899;
  line-height: 20px;
}

.comment-item  {
  background-color: #f6f7f9;
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
  border-top: 0px;
  padding: 4px 0;
  // height: 40px;
  // border: 1px solid red;
}

.comment-item-border {
  margin: 5px 12px;
  display: flex;
  flex-direction: column;
}

.comment-item-border:nth-child(2) {
  border-top: 1px solid #e1e2e3;
  padding-top: 4px;
  margin-top: 0px;
}

.comment-body {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  color: #1d2129;
}

.user-pic-xxs {
  width: 32px;
  min-width: 32px;
  height: 32px;
}

.user-pic-xxxs {
  width: 20px;
  min-width: 20px;
  height: 20px;
}

.comment-user-name {
  font-weight: bold;
  margin-right: 3px;
}

.comment-actions {
  display: flex;
  flex-direction: row;
}

.comment-action {
  color: #365899;
  margin-right: 5px;
}

.comment-timestamp {
  color: #90949c;
}

.comment-in-comment-item {
  display: flex;
  flex-direction: row;
  background-color: #f6f7f9;
  word-wrap: break-word;
  padding: 0 12px 0 30px;
}

.comment-comment-container {
  display: flex;
  flex-direction: row;
  border-left: 2px solid #dddfe2;
  padding-left: 5px;
  padding-bottom: 10px;
}

.timeline-photos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5px;
}

.timeline-side-bar-photo {
  min-width: 101px;
  min-height: 101px;
  width: 101px;
  height: 101px;
  margin: 3px 0;
}

.timeline-friends-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5px;
}

.timeline-side-bar-friend {
  min-width: 101px;
  min-height: 101px;
  width: 101px;
  height: 101px;
  margin: 3px 0;
}

.post-item-url {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 1px 4px rgba(0, 0, 0, .1);
}
.post-item-url * {
color: black;
}
.post-item-url-photo {
  height: 156px;
  min-height: 156px;
  width: 156px;
  min-width: 156px;
  border: 1px solid rgba(0, 0, 0, .1);
}

.post-item-url-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.post-item-url-title {
  font-family: Georgia, serif;
    letter-spacing: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 5px;
    max-height: 110px;
    overflow: hidden;
    word-wrap: break-word;
}

.post-item-url-description {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 16px;
  max-height: 80px;
  overflow: hidden;
  word-wrap: break-word;
}

.post-item-url-url {
  margin-top: 10px
}

.comment-reply {
  // border: 1px solid red;
  // height: 30px;
}

.comment-reply-body {
  padding: 8px 12px;
  border-top: 1px solid #e1e2e3;
  display: flex;
  flex-direction: row;
}

.comment-reply-form {
  margin-left: 10px;
}

.comment-reply-input {
  height: 29px;
  width: 357px;
  border: 1px solid #dddfe2;
  padding-left: 5px;
  outline: 1px solid transparent;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  word-break: break-word;
}

// prevents posts with no likes from having double border
.comment-reply:first-child .comment-reply-body {
  border-top: 0;
}
